<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>{% block title %}My Flower Shop{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
    <body>
    <!-- Хедер с меню -->
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('flower_list') }}">Flowers</a></li>
                <li><a href="{{ path('storage_list') }}">Storage</a></li>
                <li><a href="{{ path('order_list') }}">Orders</a></li>
            </ul>
        </nav>
    </header>

    <!-- Основной контент -->
    <main>
        {% block body %}{% endblock %}
    </main>

    <!-- Футер -->
    <footer>
        <p>&copy; 2024 My Flower Shop</p>
    </footer>
</body>
</html>
