    <header>
        <nav>
            <ul>
                <li><a href="{{ path('catalog') }}">КАТАЛОГ</a></li>
                <li><a href="{{ path('view_cart') }}">КОРЗИНА</a></li>
            </ul>
        </nav>
    </header>